Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2020-12, with the labels that each got.

#97 Vendor gardener/gardener@f6b4e24
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/webhook/cmd/factory.go
  vendor/github.com/gardener/gardener/hack/install-requirements.sh
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/utils/flow/graph.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/bootstrap_token.go
  vendor/github.com/gardener/gardener/test/framework/common.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#98 Use region as facility instead of zones
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#99 Set facility name in CCM chart
  charts/internal/seed-controlplane/charts/packet-cloud-controller-manager/templates/deployment.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs
