Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2020-08, with the labels that each got.

#65 Change default webhook server port to 10250
  charts/gardener-extension-provider-packet/values.yaml
  example/controller-registration.yaml
Labels: area/security, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#66 Populate worker-configuration in machine deployment
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm

#68 Add namespaces/finalizers to extension RBAC role
  charts/gardener-extension-provider-packet/templates/rbac.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/bug, needs/ok-to-test, priority/normal, reviewed/lgtm

#69 Recreate storage classes if update is failing
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
Labels: area/ops-productivity, area/robustness, area/storage, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, topology/shoot

#70 Vendor gardener/gardener@v1.9.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/genericactuator/actuator_reconcile.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/types_constants.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/constants/utils.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/errors.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/helper/helper.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_cloudprofile.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_common.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/client/kubernetes/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/extensions.go
  vendor/github.com/gardener/gardener/pkg/operation/common/types.go
  vendor/github.com/gardener/gardener/pkg/operation/common/utils.go
  vendor/github.com/gardener/gardener/pkg/scheduler/controller/shoot/scheduler_control.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/infodata.go
  vendor/github.com/gardener/gardener/pkg/utils/infodata/types.go
  vendor/github.com/gardener/gardener/pkg/utils/random.go
  vendor/github.com/gardener/gardener/pkg/utils/secrets/control_plane.go
  vendor/github.com/gardener/gardener/test/framework/cleanup.go
  vendor/modules.txt
Labels: area/open-source, kind/enhancement, needs/ok-to-test, priority/normal
