Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2021-04, with the labels that each got.

#128 Fix openapiv2 imports
  vendor/github.com/googleapis/gnostic/openapiv2/OpenAPIv2.go
  vendor/github.com/googleapis/gnostic/openapiv2/OpenAPIv2.pb.go
  vendor/github.com/googleapis/gnostic/openapiv2/OpenAPIv2.proto
  vendor/github.com/googleapis/gnostic/openapiv2/README.md
  vendor/github.com/googleapis/gnostic/openapiv2/document.go
  vendor/github.com/googleapis/gnostic/openapiv2/openapi-2.0.json
Labels: area/control-plane, kind/bug, needs/lgtm, needs/ok-to-test, needs/review, size/xs

#130 migrate to use out-of-tree MCM EM provider
  charts/images.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/machineclass/templates/machineclass.yaml
  charts/internal/machineclass/values.yaml
  pkg/controller/worker/machine_controller_manager.go
  pkg/controller/worker/machines.go
  pkg/controller/worker/machines_test.go
  pkg/packet/types.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/m

#133 Vendor gardener/gardener@v1.21.0
  go.mod
  go.sum
  vendor/github.com/gardener/gardener/charts/images.yaml
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/daemonset.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/deployment.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/managed_resource.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/general/statefulsets.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/healtcheck_actuator.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/message_util.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/worker/helpers.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/healthcheck/worker/nodes.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/controller.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/infrastructure/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/status.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/reconciler.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/worker/state_reconciler.go
  vendor/github.com/gardener/gardener/pkg/api/extensions/accessor.go
  vendor/github.com/gardener/gardener/pkg/apis/core/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.pb.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/generated.proto
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/types_shoot.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/apis/core/v1beta1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/core/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/apis/extensions/v1alpha1/types_defaults.go
  vendor/github.com/gardener/gardener/pkg/apis/seedmanagement/types_managedseed.go
  vendor/github.com/gardener/gardener/pkg/apis/seedmanagement/v1alpha1/types_managedseed.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/defaults.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/types.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.conversion.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/v1alpha1/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/gardenlet/apis/config/zz_generated.deepcopy.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/etcd/etcd.go
  vendor/github.com/gardener/gardener/pkg/operation/shoot/shoot.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/eventhandler.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/health.go
  vendor/github.com/gardener/gardener/pkg/utils/kubernetes/health/pod_health.go
  vendor/github.com/gardener/gardener/test/framework/k8s_utils.go
  vendor/modules.txt
Labels: needs/ok-to-test, needs/review, size/xs

#134 Decrease terraformer log level
  pkg/controller/infrastructure/actuator.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs
