Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2021-02, with the labels that each got.

#117 docs: updates and improvements
  docs/usage-as-end-user.md
  docs/usage-as-operator.md
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/documentation, kind/enhancement, merge/squash, needs/ok-to-test, platform/equinix-metal, priority/normal, reviewed/lgtm, size/s

#121 guide how to develop the Packet extension
  CONTRIBUTING.md
Labels: area/documentation, kind/enhancement, needs/ok-to-test, platform/equinix-metal, priority/normal, reviewed/lgtm, size/m

#120 change to equinix-metal-ccm and bump to 3.0.1
  charts/gardener-extension-provider-packet/templates/configmap-logging.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/Chart.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/ccm-observability-dashboard.json
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/_helpers.tpl
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/service.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/vpa.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/values.yaml
  charts/internal/shoot-system-components/charts/cloud-provider-equinix-metal/Chart.yaml
  charts/internal/shoot-system-components/charts/cloud-provider-equinix-metal/templates/rbac-node-controller.yaml
  charts/internal/shoot-system-components/charts/cloud-provider-equinix-metal/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, platform/equinix-metal, priority/normal, reviewed/lgtm, size/s
