Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2021-01, with the labels that each got.

#100 Update CCM to v2.0.0
  charts/images.yaml
  charts/internal/shoot-system-components/charts/metallb/Chart.yaml
  charts/internal/shoot-system-components/charts/metallb/templates/metallb.yaml
  charts/internal/shoot-system-components/charts/metallb/values.yaml
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/packet/v1alpha1/zz_generated.conversion.go
  pkg/apis/packet/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/packet/v1alpha1/zz_generated.defaults.go
  pkg/apis/packet/zz_generated.deepcopy.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/packet/types.go
Labels: kind/api-change, merge/squash, needs/ok-to-test, reviewed/lgtm, size/l

#103 Remove Packet CSI
  charts/gardener-extension-provider-packet/templates/configmap-logging.yaml
  charts/gardener-extension-provider-packet/templates/storageclass.yaml
  charts/images.yaml
  charts/internal/seed-controlplane/charts/csi-packet/Chart.yaml
  charts/internal/seed-controlplane/charts/csi-packet/csi-packet-controller-dashboard.json
  charts/internal/seed-controlplane/charts/csi-packet/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/csi-packet/templates/controller.yaml
  charts/internal/seed-controlplane/charts/csi-packet/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/csi-packet/values.yaml
  charts/internal/shoot-storageclasses/templates/_helpers.tpl
  charts/internal/shoot-storageclasses/templates/storageclasses.yaml
  charts/internal/shoot-system-components/charts/csi-packet/Chart.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/credential-secret.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/node.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-attacher-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-plugin-psp.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-plugin-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/psp/csi-provisioner-rbac.yaml
  charts/internal/shoot-system-components/charts/csi-packet/templates/vpa.yaml
  charts/internal/shoot-system-components/charts/csi-packet/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/packet/types.go
Labels: area/storage, kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xl

#101 Update images
  charts/images.yaml
  pkg/controller/infrastructure/actuator.go
Labels: needs/ok-to-test, reviewed/lgtm, size/xs

#106 Fix MetalLB chart description
  charts/internal/shoot-system-components/charts/metallb/Chart.yaml
Labels: kind/cleanup, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#104 Add platform/equinix-metal label to templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/ISSUE_TEMPLATE/flaking-test.md
  .github/pull_request_template.md
  hack/update-github-templates.sh
Labels: area/open-source, kind/enhancement, needs/ok-to-test, priority/normal, reviewed/lgtm, size/xs

#114 pkg/controller/controlplane: improve code a little bit
  pkg/controller/controlplane/add.go
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, platform/equinix-metal, priority/normal, reviewed/lgtm, size/xs

#115 pkg/webhook/controlplaneexposure: add --advertise-address to API server
  pkg/webhook/controlplaneexposure/ensurer.go
  pkg/webhook/controlplaneexposure/ensurer_test.go
Labels: area/control-plane, kind/bug, needs/ok-to-test, platform/equinix-metal, priority/normal, reviewed/lgtm, size/m
