Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2022-01, with the labels that each got.

#184 `make generate` for the year change
  pkg/apis/config/v1alpha1/zz_generated.conversion.go
  pkg/apis/config/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/config/v1alpha1/zz_generated.defaults.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/equinixmetal/v1alpha1/zz_generated.conversion.go
  pkg/apis/equinixmetal/v1alpha1/zz_generated.deepcopy.go
  pkg/apis/equinixmetal/v1alpha1/zz_generated.defaults.go
  pkg/apis/equinixmetal/zz_generated.deepcopy.go
Labels: needs/ok-to-test

#177 update to latest CCM from Equinix Metal, explicit metro support
  charts/images.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/deployment.yaml
Labels: area/control-plane, kind/bug, needs/ok-to-test, needs/lgtm, needs/review, size/xs

#183 Remove the "garden.sapcloud.io/role" label from control plane components
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/service.yaml
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs

#189 Update RBAC for leader election of machine-controller-manager
  charts/internal/machine-controller-manager/seed/templates/clusterrole.yaml
Labels: area/control-plane, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/equinix-metal

#172 Replace rewrite_tag filter with modify one
  charts/gardener-extension-provider-equinix-metal/templates/configmap-logging.yaml
  example/controller-registration.yaml
Labels: area/logging, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#186 Add check for the docforge manifest
  .ci/verify
  .gitignore
  Makefile
  hack/tools/bin/.gitkeep
Labels: area/documentation, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/equinix-metal

#190 Support for Kubernetes v1.23
  README.md
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/open-source, area/usability, exp/intermediate, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/m, topology/garden, topology/seed, topology/shoot, merge/squash, platform/equinix-metal

#191 Kubernetes Version Configurability per Worker Pool
  docs/usage-as-end-user.md
  pkg/webhook/controlplane/ensurer.go
Labels: area/usability, kind/enhancement, needs/ok-to-test, needs/review, size/xs, merge/squash, platform/equinix-metal

#182 🛡 Enable `ServiceAccount` token projection and token requestor
  Makefile
  charts/gardener-extension-provider-equinix-metal/templates/deployment.yaml
  charts/gardener-extension-provider-equinix-metal/templates/serviceaccount.yaml
  charts/gardener-extension-provider-equinix-metal/values.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/machine-controller-manager/seed/templates/serviceaccount.yaml
  charts/internal/machine-controller-manager/seed/values.yaml
  charts/internal/machine-controller-manager/shoot/templates/clusterrolebinding-machine-controller-manager.yaml
  charts/internal/machine-controller-manager/shoot/templates/rolebinding-machine-controller-manager.yaml
  charts/internal/machine-controller-manager/shoot/values.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/deployment.yaml
  charts/internal/seed-controlplane/values.yaml
  charts/internal/shoot-system-components/charts/cloud-provider-equinix-metal/templates/rbac-cloud-controller-manager.yaml
  charts/internal/shoot-system-components/values.yaml
  cmd/gardener-extension-provider-equinix-metal/app/app.go
  example/controller-registration.yaml
  go.mod
  go.sum
  pkg/controller/controlplane/add.go
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
  pkg/controller/worker/actuator.go
  pkg/controller/worker/add.go
  vendor/github.com/gardener/gardener/extensions/pkg/controller/controlplane/genericactuator/actuator.go
  vendor/github.com/gardener/gardener/pkg/operation/botanist/component/extensions/operatingsystemconfig/original/components/kubelet/config.go
  vendor/modules.txt
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, needs/second-opinion, size/l, merge/squash

#193 Remove deprecated feature gate for 1.21 Clusters
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/control-plane, needs/ok-to-test, reviewed/lgtm, size/m, platform/equinix-metal
