Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2022-07, with the labels that each got.

#217 Adapt the priority according to the gardener guideline
  charts/gardener-extension-provider-equinix-metal/templates/_helpers.tpl
  charts/gardener-extension-provider-equinix-metal/templates/deployment.yaml
  charts/gardener-extension-provider-equinix-metal/templates/priorityclass.yaml
  charts/internal/machine-controller-manager/seed/templates/deployment.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/deployment.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/equinix-metal

#224 Remove install-requirement and use tools.mk
  CONTRIBUTING.md
  Makefile
Labels: area/dev-productivity, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/equinix-metal

#216 Adjust metric name due to upgrading the kube-state-metrics component
  charts/internal/machine-controller-manager/seed/mcm-monitoring-dashboard.json
Labels: area/monitoring, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/equinix-metal

#218 Change base image from alpine to distroless
  Dockerfile
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs, platform/equinix-metal

#221 Add extension identifier with version to Equinix Metal client User-Agent headers
  pkg/equinixmetal/client/client.go
  pkg/version/version.go
Labels: area/quality, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs, platform/equinix-metal
