Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2022-03, with the labels that each got.

#195 Use projected token mount for terraformer
  cmd/gardener-extension-provider-equinix-metal/app/app.go
  pkg/controller/infrastructure/actuator.go
  pkg/controller/infrastructure/add.go
Labels: area/security, kind/enhancement, needs/ok-to-test, needs/review, size/xs

#199 Add permissions for dns records
  charts/gardener-extension-provider-equinix-metal/templates/rbac.yaml
  example/controller-registration.yaml
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs, platform/equinix-metal

#198 Update valuesprovider.go
  pkg/controller/controlplane/valuesprovider.go
Labels: area/usability, kind/bug, needs/ok-to-test, needs/review, size/xs, platform/equinix-metal

#202 Keep kubelet's `--cloud-provider` flag even for 1.23+
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: area/usability, kind/bug, needs/ok-to-test, reviewed/lgtm, size/xs

#201 Only set supported feature gates of kubelet
  pkg/webhook/controlplane/ensurer.go
  pkg/webhook/controlplane/ensurer_test.go
Labels: kind/bug, needs/ok-to-test, needs/review, size/s, platform/equinix-metal
