Repository gardener/gardener-extension-provider-equinix-metal, pull requests merged in 2025-04, with the labels that each got.

#336 Address TODO for legacy NetworkPolicy labels
  charts/gardener-extension-provider-equinix-metal/templates/service.yaml
  example/controller-registration.yaml
Labels: area/quality, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, platform/equinix-metal

#338 Cleanup TODOs related to legacy monitoring configuration
  charts/gardener-extension-provider-equinix-metal/templates/rbac.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/configmap-observability.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/prometheusrule.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/templates/servicemonitor.yaml
  charts/internal/seed-controlplane/charts/cloud-provider-equinix-metal/values.yaml
  example/controller-registration.yaml
  pkg/controller/controlplane/valuesprovider.go
  pkg/controller/controlplane/valuesprovider_test.go
Labels: area/monitoring, kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/s, platform/equinix-metal

#337 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs
